<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comenzar encuesta</title>
</head>
<body>
    <form method='POST'>
        {% csrf_token %}
        <label for="question">Selecciona la pregunta con la que deseas iniciar el cuestionario:</label>
        <select name="question" id="question">
            {% for question in questions %}
            <option value="{{ question.question }}">{{ question.question }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Comenzar encuesta">
    </form>
</body>
</html>